body {
	padding-top: 70px;
}

#jumbo {
	font-size: 30px;
}

.jumbotron{
	color: #2c3e50;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}